<div class="article-detail-page">
  <div class="container py-3 pr-3 article-detail-wrap">
    <back-button class="pb-2 d-block"></back-button>
    <loader ng-show="isLoading"></loader>
    <div class="title-wrap">
      <h3>{{article.title}}</h3>
      <button
        ng-show="isMyArticle()"
        ng-click="handleClick()"
        class="btn btn-danger"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
    <p>{{article.body}}</p>
    <hr />
    <p>{{article.description}}</p>
    <h5>Tags</h5>
    <span
      ng-repeat="tag in article.tagList"
      class="badge bg-secondary mx-1 mb-1"
    >
      {{tag}}
    </span>
  </div>
</div>
