@import "src/common/styles/main.scss";

home {
  .full-screen-show {
    min-height: calc(100vh - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .articles-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0;
  }

  .home-page {
    background: $gradient-blue;
  }
}
