@import "src/common/styles/main.scss";

article-detail {
  .full-screen-show {
    min-height: calc(100vh - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .article-detail-wrap {
    position: relative;
  }

  .delete-btn {
    position: absolute;
    right: -40px;
    top: 1rem;
  }
}
