@import "src/common/styles/main.scss";

article-card {
  .article-card {
    min-height: 15rem;
    height: 100%;
  }
  .line-clamp {
    @include line-clamp(4);
  }
  .tag {
    max-width: 7rem;
  }
}
