@import "src/common/styles/main.scss";

article-card {
  .article-card {
    min-height: 15rem;
    height: 100%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border: none;
    background-color: #e6e6fa;
  }
  .line-clamp {
    @include line-clamp(4);
  }
  .tag {
    max-width: 7rem;
  }
}
