<div class="card article-card">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title text-truncate">{{ $ctrl.article.title}}</h5>
    <div class="mb-3">
      <span
        ng-repeat="tag in $ctrl.article.tagList"
        class="badge bg-secondary mx-1 mb-1 text-truncate tag"
      >
        {{tag}}
      </span>
    </div>
    <p class="card-text line-clamp">{{$ctrl.article.description}}</p>
    <div class="d-flex justify-content-between mt-auto">
      <div class="d-flex align-items-center">
        <img
          class="rounded-circle"
          ng-src="{{$ctrl.article.author.image}}"
          height="20"
          alt="img"
        />
        <p class="m-0 mx-1">{{$ctrl.article.author.username}}</p>
      </div>
      <a
        ui-sref="articleDetail"
        ng-click="setArticleSlug($ctrl.article.slug)"
        class="card-link"
        >View details</a
      >
    </div>
  </div>
</div>
