<div class="modal fade" id="modal-root" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer d-none">
        <button
          type="button"
          class="btn btn-primary"
          style="min-width: 100px"
          id="modal-button"
          ng-click="onConfirm()"
        >
          <div
            ng-show="isLoading"
            class="spinner-border spinner-border-sm"
            role="status"
          ></div>
          <span id="modal-button-text" ng-show="!isLoading">Confirm</span>
        </button>
      </div>
    </div>
  </div>
</div>
