<div class="container mt-5">
  <h3 class="text-center">Create Article</h3>
  <form name="articleForm" ng-submit="submitForm()" novalidate>
    <div class="form-group mb-3">
      <label for="title">Article Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter title"
        name="title"
        ng-model="article.title"
        required
      />
    </div>
    <div class="form-group mb-3">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="3"
        ng-model="article.description"
        required
      ></textarea>
    </div>
    <div class="form-group mb-3">
      <label for="body">Body of the article</label>
      <textarea
        class="form-control"
        id="body"
        name="body"
        rows="3"
        ng-model="article.body"
        required
      ></textarea>
    </div>
    <div class="form-group mb-3">
      <label for="tags">Tags</label>
      <input
        type="text"
        class="form-control"
        id="tags"
        placeholder="Enter tags (space seperated)"
        name="tagList"
        ng-model="article.tagList"
        required
      />
    </div>
    <div class="d-flex align-items-center">
      <button
        ng-disabled="isLoading || articleForm.title.$invalid || articleForm.description.$invalid || articleForm.body.$invalid || articleForm.tagList.$invalid"
        type="submit"
        class="btn btn-primary"
      >
        Submit
      </button>
      <div ng-show="isLoading" class="spinner-border mx-2" role="status"></div>
    </div>
  </form>
</div>
