<div class="home-page">
  <div class="container">
    <div class="input-group pt-4 search-input">
      <input
        type="text"
        class="form-control"
        placeholder="Search text"
        ng-model="searchText"
      />
      <button
        class="btn btn-primary text-light"
        type="button"
        ng-click="filterBy('tag')"
        ng-disabled="!searchText"
      >
        Filter by tag
      </button>
      <button
        class="btn btn-secondary"
        ng-click="filterBy('author')"
        ng-disabled="!searchText"
        type="button"
      >
        Filter by author
      </button>
      <button
        ng-click="removeFilter()"
        ng-disabled="!searchText"
        class="btn btn-text"
      >
        Remove filter
      </button>
    </div>
    <loader ng-show="isLoading"></loader>
    <h3
      class="mt-4"
      ng-show="!isLoading && (!articleData || !articleData.length)"
    >
      Nothing to show.
    </h3>
    <div ng-show="!isLoading && articleData.length" class="articles-wrap">
      <article-card
        ng-repeat="article in articleData"
        article="article"
      ></article-card>
    </div>
    <pagination
      on-change="handlePageChange"
      page="home"
      item-count="{{itemCount}}"
    ></pagination>
  </div>
</div>
