<div class="home-page">
  <div class="container">
    <back-button class="pt-3 d-block"></back-button>
    <div class="pt-3">
      <h4>Filters</h4>
      <div class="d-flex justify-content-between flex-wrap" style="gap: 1rem">
        <filter
          label="By Author"
          search-text="authorSearchText"
          on-filter-click="filterByAuthor"
          on-remove-filter="removeAuthorFilter"
        ></filter>
        <filter
          label="By Tag"
          search-text="tagSearchText"
          on-filter-click="filterByTag"
          on-remove-filter="removeTagFilter"
        ></filter>
      </div>
      <div class="pt-5">
        <loader ng-show="isLoading"></loader>
        <h3 ng-show="!isLoading && (!articleData || !articleData.length)">
          Nothing to show.
        </h3>
        <div ng-show="!isLoading && articleData.length">
          <h4>Feed</h4>
          <div class="articles-wrap">
            <article-card
              ng-repeat="article in articleData track by $index"
              article="article"
            ></article-card>
          </div>
        </div>
      </div>
      <pagination
        on-change="handlePageChange"
        page="home"
        item-count="{{itemCount}}"
      ></pagination>
    </div>
  </div>
</div>
