@import "src/common/styles/main.scss";

home {
  .home-page {
    min-height: calc(100% - #{$header-height});
  }

  article-card {
    width: 31%;
    @media screen and (max-width: 1200px) {
      width: 46.5%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .articles-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 0 2rem;
  }

  .search-input {
    max-width: 30rem;
  }
}
